#contact {
    .contact-wrapper {
        .contact-data {
            display: grid;
            row-gap: 2rem;
            .contact-information {
                h3.contact-subtitle {
                    margin-bottom: $m-0-5;
                }
                span.contact-description {
                    display: inline-flex;
                    align-items: center;
                    column-gap: .5rem;

                    i {
                        font-size: 1.2rem;
                    }
                }
            }

            ul {
                margin:0;
                padding:0;
                display:flex;

                li {
                    list-style: none;

                    a {
                        position: relative;
                        width:50px;
                        height:50px;
                        display:block;
                        text-align:center;
                        font-size: 1.35rem;
                        margin-right: $m-0-75;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        padding: 6px;
                        box-sizing: border-box;
                        text-decoration:none;
                        box-shadow: 0 10px 15px rgba(0,0,0,0.3);
                        background: linear-gradient(0deg, #ddd, #fff);
                        transition: .5s;
                        color: hsl(252, 30%, 17%) !important;

                        &:hover {
                            box-shadow: 0 2px 5px rgba(0,0,0,0.3);
                            text-decoration:none;
                        }

                        &.fab {
                            width: 100%;
                            height:100%;
                            display:block;
                            background: linear-gradient(0deg, #fff, #ddd);
                            border-radius: 50%;
                            line-height: calc(60px - 12px);
                            font-size:24px;
                            transition: .5s;
                          }
                    }

                    &:nth-child(1) {
                        a:hover {
                            .fab {
                                color:  #0a66c2;
                            }
                        }
                    }
                    &:nth-child(2) {
                        a:hover {
                            .fab {
                                color: #00112c;
                            }
                        }
                    }
                    &:nth-child(3) {
                        a:hover {
                            .fab {
                                color: #e1306c;
                            }
                        }
                    }
                    &:nth-child(4) {
                        a:hover {
                            .fab {
                                color: #333;
                            }
                        }
                    }
                }
              }
        }
    }

    .contact-form {
        .contact-inputs {
            display: grid;
            row-gap: 2rem;
            margin-bottom: $m-2-5;

           .contact-content {
            position: relative;
            height: 3rem;
            border-bottom: 2px solid var(--color-gray);

            .contact-input {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding: 1rem 1rem 1rem 0;
                background: none;
                border: 0;
                outline: 0;
                color: var(--color-dark);
                z-index: 1;

                &:focus ~ span {
                    width: 100%;
                }
                &:focus + label.contact-label {
                    top: -.75rem;
                    left: 0;
                    // color: $color-primary;
                    color: var(--color-primary);
                }
        
            }
            label.contact-label {
                    position: absolute;
                    top: .40rem;
                    width: 100%;
                    font-size: $small-font-size;
                    transition: .3s;
            }
            span {
                position: absolute;
                content: '';
                left: 0;
                bottom: -2px;
                height: 2px;
                width: 0;
                // background-color: $color-primary;
                background-color: var(--color-primary);
                transition: .5s;
            }
           }

           .text-area {
            height: 7rem;

            textarea {
                resize: none;
            }
           }
        }
    }
}