.header {
    // position: fixed;
    // top: 0;
    // left: 0;
    // width: 100%;
    // background-color: $color-light;
    // z-index: 100;

    .header-navbar {
        height: calc($header-height + 1.5rem);
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 3rem;
        // background-color: $color-light;
        background-color: var(--color-light);

        div {
            .img-wrapper {
                max-width: 68px;
                // border-radius: 50%;
                // background-color: var(--color-dark);
                // display: flex;
                // justify-content: center;
                // align-items: center;

                // img {
                //     height: 70%;
                // }
            }
            .logo {
                position: relative;
                font-size: $h2-font-size !important;
                font-weight: 700 !important;
                letter-spacing: 0.125rem;
                text-decoration: none;
                &::after {
                    position: absolute;
                    content: '';
                    top: 56%;
                    right: -0.25rem;
                    width: 0.3rem;
                    height: 0.3rem;
                    border-radius: 50%;
                    // background-color: $color-primary;
                    background-color: var(--color-primary);
                }
            }
        }

        .nav-menu {
            margin-left: auto;

            ul.nav-menu-list {
                display: flex;
                padding: 0;
                margin: 0;
                column-gap: 3rem;
                li.nav-menu-item {
                    a.nav-link {
                        font-weight: $font-medium;
                        transition: .3s;
                        &:hover {
                            // color: $color-primary;
                            color: var(--color-primary) !important;
                        }

                        &.active {
                            position: relative;
                            color: var(--color-primary) !important;
                            &::before {
                                position: absolute;
                                content: '';
                                width: 0.3rem;
                                height: 0.3rem;
                                left: 45%;
                                bottom: -0.75rem;
                                border-radius: 50%;
                                // background-color: $color-primary;
                                background-color: var(--color-primary);
                            }
                        }
                    }
                }
            }

            .nav-close-btn {
                position: absolute;
                top: 1rem;
                right: 1.25rem;
                font-size: 1rem;
                cursor: pointer;
                display: none;
            }
        }

        .nav-btns {
            display: inline-flex;
            align-items: center;
            column-gap: 1rem;
            margin-left: 1rem;

            .change-theme {
                font-size: 1.15rem;
                cursor: pointer;
            }

            .nav-toggle-btn {
                font-size: 1.2rem;
                cursor: pointer;
                display: none;
            }
        }

        &.header-fixed {
            position: fixed;
            top: 0;
            width: 100%;
            box-shadow: 0 5px 30px rgba(0, 22, 84, .1);
            -webkit-box-shadow: 0 5px 30px rgba(0, 22, 84, .1);
            z-index: 999;
            transition: .2s ease-in;
            animation-name: slideInDown;
            animation-duration: .5s;
        }
    }

}