#portfolio {
    .portfolio-filter {
        text-align: center;
        margin-bottom: $m-2-5;

        .portfolio-filter-inner {
            button {
                border: 0;
                background-color: transparent;
                font-weight: $font-semibold;
                text-transform: capitalize;
                color: var(--color-dark);
                margin: 0 $m-0-75;
                cursor: pointer;
                white-space: nowrap;
                transition: .3s;

                &.active {
                    position: relative;
                    // color: $color-primary;
                    color: var(--color-primary);
                    &::before {
                        position: absolute;
                        left: 45%;
                        bottom: -.75rem;
                        content: '';
                        width: .3rem;
                        height: .3rem;
                        border-radius: 50%;
                        // background-color: $color-primary;
                        background-color: var(--color-primary);
                    }
                }
            }
        }
    }

    .portfolio-container {

        .portfolio-item {
            flex: 1;
            margin-bottom: $m-1-5;
    
            &.hide {
                display: none;
                visibility: hidden;
                opacity: 0;
            }
            &.show {
                display: block;
                visibility: visible;
                opacity: 1;
                animation: showItem .5s ease;
            }
    
            .portfolio-item-inner {
                position: relative;
                overflow: hidden;
    
                .portfolio-item-thumbnail {
    
                    .mask {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(#000, .9);
                        transition: .3s;
                        opacity: 0;
                        visibility: hidden;
                    }
                }
    
                .term {
                    position: absolute;
                    top: 0;
                    left: $m-1-5;
                    color: #fff;
                    // background-color: $color-primary;
                    background-color: var(--color-primary);
                    border-radius: 0 0 .98rem .98rem;
                    display: inline-block;
                    font-size: $small-font-size;
                    padding: .19rem .625rem;
                    transition: .3s;
                    transform: translateY(-40px);
                }
    
                .portfolio-item-title {
                    position: absolute;
                    top: 3.75rem;
                    color: #fff;
                    font-size: 1.25rem;
                    margin: 0 0 0.98rem;
                    padding: 0 1.25rem;
                    transition: .3s;
                    transform: translateY(30px);
                    opacity: 0;
                    visibility: hidden;
                }
    
                .more-button {
                    position: absolute;
                    left: $m-1-5;
                    bottom: $m-1-5;
                    width: 2.5rem;
                    height: 2.5rem;
                    display: block;
                    color: #fff;
                    // background-color: $color-primary;
                    background-color: var(--color-primary);
                    border-radius: 50%;
                    text-align: center;
                    line-height: 28px;
                    font-size: 1.6rem;
                    transition: .3s;
                    cursor: pointer;
                    opacity: 0;
                    visibility: hidden;
                }
    
                &:hover {
                    .mask {
                        opacity: 0.9;
                        visibility: visible;
                    }
    
                    .portfolio-item-title,
                    .more-button,
                    .term {
                        opacity: 1;
                        visibility: visible;
                        transform: translateY(0);
                    }
                }
            }
        }
    }
}